.skills {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.skills h2 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 40px;
    margin-top: 80px;
}

.skills-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #ff00ff44;
    box-shadow: 0 0 10px #ff00ff33;
    overflow: hidden;
    color: #d4d4d4;
    padding: 30px 20px;
    text-align: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

.card:hover {
    border-color: #ff00ff;
    box-shadow: 0 0 20px #ff00ff, 0 0 40px #ff00ff88;
}

.card i {
    font-size: 40px;
    color: #b63eb0;
    margin-bottom: 10px;
    font-weight: 500;
}

@media (max-width: 768px) {
    .skills-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills h2 {
        font-size: 28px;
    }
}



:host-context(.light-theme) h2 {
    color: #1c1c1e;
}

:host-context(.light-theme) .card {
    background-color: #a8d5ba;
    color: #1c1c1e;
    border: 1px solid #ff00ff;
}

:host-context(.light-theme) .card:hover {
    border-color: #ff00ff;
}

