<section class="about animation" id="about">
    <h2>Sobre Mim</h2>
    <div class="terminal">
        <div class="terminal-header">
            <span class="dot red"></span>
            <span class="dot yellow"></span>
            <span class="dot green"></span>
        </div>
        <div class="terminal-body">
            <p class="card-about"><span>mandi:</span> Olá ! Meu nome é Amanda Monteiro Di Lorenzo, tenho 26 anos, sou mineira, e atualmente, uma
                <span>desenvolvedora full stack.</span> Sou graduanda em Análise e Desenvolvimento de
                Sistemas e aluna Full Stack do Curso DevQuest.
                Sou apaixonada por <span>tecnologia, criatividade e inovação !</span> Estou sempre em busca de melhorar
                as minhas habilidades e adquirir novos conhecimentos com estudo ativo, além de estar sempre buscando
                experiências com projetos que me desafiem e trocas positivas nas comunidades de desenvolvedores.
                Na minha rotina, <span>disciplina e equilíbrio</span> estão presentes, além dos estudos, gosto de
                treinar, praticar yoga, cuidar dos meus gatinhos, ler um bom livro e assistir uma série ou um filme.</p>
        </div>
    </div>

    <a aria-label="Baixar meu currículo em PDF" class="btn-cv">Baixar CV</a>
</section>