.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 10px;
    background-color: transparent;
    min-height: 100vh;
}

.about h2 {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 20px;
}

.terminal {
    width: 100%;
    max-width: 820px;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    color: #d4d4d4;
}

.terminal-header {
    background-color: #2d2d2d;
    display: flex;
    gap: 8px;
    padding: 12px 10px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.red {
    background-color: #ff5f56;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #27c93f;
}

.terminal-body {
    padding: 24px;
    font-size: 20px;
    line-height: 1.6;

    span {
        color: #b63eb0;
    }
}

.btn-cv {
    background-color: transparent;
    color: #ffffff;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 12px;
    border: 1px solid #ff00ff;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    transition: all 0.3s ease;
}

.btn-cv:hover {
    background-color: #ff00ff;
    color: #121212;
    box-shadow: 0 0 15px #ff00ff;
}

:host-context(body.light-theme) .about {
    background-color: #a8d5ba;
    color: #1c1c1e;
}

:host-context(body.light-theme) .btn-cv {
    background-color: #b63eb0;
}

:host-context(body.light-theme) .btn-cv:hover {
    transform: scale(1.05);
    box-shadow: none;
    color: #ffffff;
}