<footer class="footer">
    <div class="footer-icons">
        <a href="mailto:mandilorenzo@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/mandilorenzo" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/mandilorenzo" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://wa.me/34992418252" target="_blank"><i class="fab fa-whatsapp"></i></a>
    </div>


    <div class="footer-content">
        <p>Developed by Amanda Di Lorenzo</p>
        <p>All rights reserved.</p>
    </div>

</footer>