<div class="container">
    <div class="img-perfil">
        <img class="picture-perfil" src="assets/images/img-perfil-2.png" alt=" foto perfil Amanda">
    </div>

    <div class="info-principal">
        <h1>Olá ! Sou Amanda Di Lorenzo</h1>
        <p><span class="typed-text gradient-text"></span></p>

        <div class="redes-sociais">
            <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/mandilorenzo/"><i
                    class="fab fa-linkedin-in"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://wa.me/34992418252"><i
                    class="fab fa-whatsapp"></i></a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/mandiilorenzo"><i
                    class="fab fa-github"></i></a>
        </div>
    </div>

    <button class="btn" (click)="toggleTheme()">🌘</button>
</div>