<section id="contact" class="section animation">
    <h2>Contato</h2>

    <div class="contact">
        <img src="assets/images/contact-me.svg" alt="imagem referindo-se à contato por email e telefone" class="img-contact">
        
        <div class="contact-links">
            <a href="https://www.linkedin.com/in/mandilorenzo" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-linkedin"></i> Linkedin
            </a>
            <a href="https://github.com/mandiilorenzo" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-github"></i> GitHub
            </a>
            <a href="https://wa.me/34992418252" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-whatsapp"></i> WhatsApp
            </a>
        </div>
    </div>
</section>