* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #121212;
    color: #fff;
    transition: 0.3s ease;
}

body.light-theme {
    background-color: #fdfcfb;
    color: #1c1c1e;
}

body.light-theme .btn {
    background-color: #a8d5ba;
}

body.light-theme .redes-sociais a i {
    color: #1c1c1e !important;
}

body.light-theme .redes-sociais a i:hover {
    color: #b63eb0 !important;
}
